.home{
    font-size: 1.5rem;
    color:#9e02ff96;
}

.cart{
    position: relative;
    .eventicon{
        font-size: 1.5rem;
        color:#9e02ff96;
    }
    .bdg{
    font-size: 9px;
    position: absolute;
    top: -5px;
    right: -9px;
    }
}