.img_wrap {
  position: relative;
}

.img_description {
  position: absolute;
  padding: 5px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  height: 80px;
  top: 12px;
  bottom: 0px;
  left: 60px;
  right: 0;
  color: rgb(30, 0, 255);
  text-shadow: -1px 0 0 rgb(196, 2, 250);
  visibility: hidden;
  opacity: 0;
  z-index: 2;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}
.img_description::-webkit-scrollbar {
  display: none;
}

.img_wrap:hover .img_description {
  visibility: visible;
  opacity: 1;
  backdrop-filter: blur(5px);
}
