.card-style {
  border-radius: 14px;
  border: none;
  margin-top: 100px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  transition: box-shadow 0.3s ease-out;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  &:hover {
    box-shadow: 3px 3px 30px rgba(92, 81, 125, 0.524);
  }
}

.img_wrap {
  position: relative;
}

.img_description {
  position: absolute;
  padding: 5px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  height: 80px;
  top: 12px;
  bottom: 0px;
  left: 60px;
  right: 0;
  color: rgb(63, 77, 78);
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}
.img_description::-webkit-scrollbar {
  display: none;
}

.img_wrap:hover .img_description {
  visibility: visible;
  opacity: 1;
  backdrop-filter: blur(5px);
}

.card-btn {
  background-color: #9e02ff96;
  border: 1px solid #c775fa96;
}
